.reset-container
{   margin-top: 2rem;
    display:flex;
    height:30vh;
    width:100%;
    justify-content: center;
    align-items: center;
}
.reset-email
{
    display:flex;
    height:100%;
    width:30%;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A1026;
    border-radius: 1rem;

}
.reset-email input
{
    border-style: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.reset-email button
{
    background-color: #E6CF37;
    color:#0A1026;
    border-style: none;
    padding:0.5rem;
    border-radius: 0.2rem;
}
.password-sent
{
    display:flex;
    height:100%;
    width:30%;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0A1026;
    border-radius: 1rem;
}
.otp-input
{  display: flex;
    background-color: #0A1026;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    color:#E6CF37;
    height:300px;
    border-radius: 3rem;
}
.otp-input button
{
    padding: 1rem;
    background-color: #E6CF37;
    color: #0A1026;
    border-style: none;
    border-radius: 1rem;
}

.set-password
{ width:60%;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  background-color:#0A1026 ;
}
.set-password input
{
   width:40%;
   height:3rem;
   border-style: none;
   padding: 1rem;
   outline: none;
}
.set-password button
{
    background-color:#E6CF37;
    color: #0A1026;
    padding: 1rem;
    outline: none;
    border-style: none;
    border-radius: 1rem;
}
