.post-page-header
{   margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width:100%;
    gap:2rem;
}

.post-page-subtitle
{
    border-bottom: 1px solid #0A1026;
    width:100%;
    padding-bottom: 1rem;
}

.post-page-author
{   display: flex;
    align-items: center;
    gap:2rem;
    border-bottom: 1px solid #0A1026;
    width:100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.post-page-content
{
    margin-top: 2rem;
}
.post-page-main-image
{
    width:100%;
    height: 100%;
}
.post-page-main-image img
{
    width:100%;
    height:100%;
}